
.sectionSobreMi {
    padding-top: 30px;
    display: flex;
    text-align: center;
}

.sectionSobreMi p {
    padding-top: 20px;
}

.parrafoSobreMi {
    padding-top: 20px;
}

.logoSobremi {
    width: 300px;
    height: 190px;
}
