* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.body {
  max-width: 100%;
  background-color: #0E141B;
  color: #ffffff;
  font-family: "Montserrat", serif;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
}

.header_navegacion-texto,
.header_minombre-minombre,
.main_tecnologias-titulo {
  color: #ffffff;
  font-size: 28px;
  font-family: "Montserrat", serif;
  font-weight: 600;
}

.header {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 110px 120px 70px 120px;
}
.header_minombre {
  display: flex;
  align-items: center;
}
.header_minombre-logo {
  width: 120px;
  height: 120px;
  border-radius: 60%;
  margin-right: 40px;
  border: ridge #ffffff;
  object-fit: cover;
  object-position: right;
  animation: scale-up-center 3s 1;
}
.header_navegacion li {
  list-style: none;
  display: inline-block;
}
.header_navegacion-texto {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  animation: scale-up-center 3s 1;
}
.header_navegacion-texto:hover {
  border: 2px solid #ffffff;
  border-radius: 20px;
}

@keyframes scale-up-center {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
.main {
  max-width: 80%;
  margin: 0 auto;
  padding-top: 10px;
  flex: 1;
}

footer {
  padding: 20px;
  text-align: center;
}

.main_tecnologias {
  display: flex;
  text-align: center;
}
.main_tecnologias article {
  flex: 1;
  margin: 10px;
  padding: 15px;
}
.main_tecnologias-logo {
  width: 50px;
  height: 50px;
}

@media (max-width: 1024px) {
  .header {
    width: 100%;
    height: 200px;
    flex-direction: column;
    padding-top: 20px;
  }
  .header_navegacion-texto,
  .main_tecnologias-titulo {
    color: #ffffff;
    font-size: 28px;
    font-family: "Montserrat", serif;
    font-weight: 600;
    font-size: 18px;
  }
  .header_navegacion ul {
    width: 100%;
    list-style: none;
    display: flex;
    padding: 10px;
    height: max-content;
  }
  .main_tecnologias {
    flex-direction: column;
  }
  .main_tecnologias article {
    margin: 0;
    padding: 0;
  }
}
.escrituraFecha {
  text-align: initial;
  font-size: 12px;
}

.sectionSobreMi {
  padding-top: 0px;
  display: flex;
  text-align: center;
}
.sectionSobreMi p,
.sectionSobreMi .parrafoSobreMi {
  padding-top: 20px;
}
.sectionSobreMi .logoSobremi {
  width: 300px;
  height: 190px;
}

.experiencia {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 0px;
}

.trabajo {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}
.trabajo h3 {
  font-size: 22px;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 0px;
}
.trabajo p {
  font-size: 14px;
  color: #ccc;
}
.trabajo ul {
  padding-left: 20px;
}
.trabajo ul li {
  list-style-type: none;
  font-size: 16px;
  margin-bottom: 0px;
}
.trabajo:hover {
  transform: scale(1.02);
}

.trabajo-header {
  gap: 15px;
}

.trabajo-logo {
  width: 90px;
  height: 90px;
  object-fit: contain;
  border-radius: 60%;
  border: ridge #ffffff;
  margin-bottom: 5px;
}

.contacto-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}
.contacto-container h2 {
  text-align: center;
  margin-bottom: 15px;
}
.contacto-container .contacto-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.contacto-container .contacto-form .form-group {
  display: flex;
  flex-direction: column;
}
.contacto-container .contacto-form .form-group label {
  font-weight: bold;
  margin-bottom: 5px;
}
.contacto-container .contacto-form .form-group input, .contacto-container .contacto-form .form-group textarea {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.2);
  color: #ffffff;
}
.contacto-container .contacto-form .form-buttons {
  display: flex;
  justify-content: space-between;
}
.contacto-container .contacto-form .form-buttons input {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}
.contacto-container .contacto-form .form-buttons input:first-child {
  background-color: #007bff;
  color: white;
}
.contacto-container .contacto-form .form-buttons input:first-child:hover {
  background-color: #0056b3;
}
.contacto-container .contacto-form .form-buttons input:last-child {
  background-color: #dc3545;
  color: white;
}
.contacto-container .contacto-form .form-buttons input:last-child:hover {
  background-color: #b02a37;
}

/*# sourceMappingURL=style.css.map */
