// Página específica: Index
.main_tecnologias {
    display: flex;
    text-align: center;

    article {
        flex: 1;
        margin: 10px;
        padding: 15px;
    }
    
    &-logo {
        width: 50px;
        height: 50px;
    }
}
    
// Responsive para móviles
@media (max-width: 1024px) {
    .header {
        width: 100%;
        height: 200px;
        flex-direction: column;
        padding-top: 20px;
    }

    .header_navegacion-texto,
    .main_tecnologias-titulo {
        @include text-title;
        font-size: 18px;
    }

    .header_navegacion ul {
        width: 100%;
        list-style: none;
        display: flex;
        padding: 10px;
        height: max-content;
    }

    .main_tecnologias {
        flex-direction: column;
    
        article {
            margin: 0;
            padding: 0;
        }
    }
}

// Página específica: Escritura
.escrituraFecha {
    text-align: initial;
    font-size: 12px;
}

// Página específica: Sobre mí
.sectionSobreMi {
    padding-top: 0px;
    display: flex;
    text-align: center;

    p,
    .parrafoSobreMi {
        padding-top: 20px;
    }

    .logoSobremi {
        width: 300px;
        height: 190px;
    }
}

// Estilos para la sección de experiencia laboral
.experiencia {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 0px;
}

.trabajo {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;

    h3 {
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 5px;
    }

    p {
        font-size: 14px;
        color: #ccc;
    }

    ul {
        padding-left: 20px;

        li {
            list-style-type: none;
            font-size: 16px;
            margin-bottom: 5px;
        }
    }

    &:hover {
        transform: scale(1.02);
    }
}

.trabajo-header {
    gap: 15px; // Espacio entre logo y título
}

.trabajo-logo {
    width: 90px;
    height: 90px;
    object-fit: contain;
    border-radius: 60%;
    border: ridge $text-color;
    margin-bottom: 5px;
}


